---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Carter DeAngelis">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-4xl">Carter DeAngelis</h1>
  </main>
</Layout>
