---
import Button from './ui/Button';

interface Props {
  actionHref?: string;
  actionLabel?: string;
}

const { actionHref = '/contact', actionLabel = 'Contact Us' } = Astro.props;
---

<header transition:name="header" class="flex items-center justify-between px-4 pt-[26px] pb-4 md:px-8 md:pt-8 md:pb-6">
  <a href="/" class="animate-fade-in" style="--delay: 0ms;">
    <img src="/assets/images/logo.svg" alt="Carterdea - Digital Design & Development" width="96" height="29" class="h-[29px] w-auto" />
  </a>

  <Button as="a" href={actionHref} className="animate-fade-in" style={{ '--delay': '50ms' } as React.CSSProperties}>
    {actionLabel}
  </Button>
</header>
